{%  extends 'base.html' %}
{%  load staticfiles %}

{% block content %}
<!-- Header -->

<header>

  <div class="parallax-window tall" data-parallax="scroll" data-image-src="{%  static 'img/austria/st_anton/stanton2.JPG' %}" data-speed="0.1">
    <h1 class="logo">
      Ski Deals
    </h1>
    <h3 class="tagline">Coming Soon...</h3>
  </div>

</header>

<!-- Content -->

<section class='lead container'>

  <h2>Get The Deals You Want In Your Inbox</h2>
  <section class="grid col-1-3">
    <p>
      Sign up to receive a welcome pack from Ski Deals.
      If you like what you see, let us know what your preferences are.
      That is, you tell us such things as:
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-check-square"></i>What resorts you want to travel to</li>
      <li><i class="fa-li fa fa-check-square"></i>What type of holiday you want</li>
      <li><i class="fa-li fa fa-check-square"></i>Where you would like to travel from</li>
      <li><i class="fa-li fa fa-check-square"></i>How many people are joining</li>
      <li><i class="fa-li fa fa-check-square"></i>What level skiers you are</li>
    </ul>
  </section><!--
--><section class="grid col-1-3">
    <p>
      Once we know your requirements, we'll search the net to find the best deals available,
      and then send you an email with the best deals we can find.
    </p>
    <p>
      With your permission, we'll also send you other interesting information relevant
      to your preferences to help make your snow trips even better.
    </p>
  </section><!--
--><section class="col-1-3">
    <p>
      Sound like a good free service?  Then sign up and we'll get cracking on delivering you the
      best value ski deals around.
    </p>
    <form action="#registered" method="POST" id="registered">
    {% csrf_token %}
    <fieldset class="signup">
      {{ form.as_p }}
    </fieldset>
    <input class="btn btn-default" type="submit" name="submit" value="Sign Up">
    {% if email %}
      <div>
        <p><small>Registered! Look out soon for ski deals sent to {{ email.email }}</small></p>
      </div>
    {% endif %}
    </form>
  </section>

</section>

<section>

  <div class="parallax-window small" data-parallax="scroll" data-image-src="{%  static 'img/vid_bg.jpg' %}" data-speed="0.1">

    <!-- /YOUTUBE VIDEO-->
    <!--<div id="vid">
      <video autoplay muted loop autobuffer poster="static/img/vid_bg.jpg" id="bgvid">
        <source src="https://www.youtube.com/watch?v=hktUJlOgqf4" />
        <source src="static/videos/bg.webm" type="video/webm">
        <source src="static/videos/bg.ogv" type='video/ogg; codecs="theora, vorbis"'/>
        <source src="static/videos/bg.mp4" type='video/mp4;'/>
        <p>Video is not visible, most likely your browser does not support HTML5 video</p>
      </video>
    </div>-->
  </div>

</section>

<section class="row">
  <div class="grid"><!--
   {% for resort in resort_list %}
    --><section class="teaser col-1-3" id="{% url 'resort' slug="{{ resort.slug }}">
      <div class="teaser-profile">
        <a href="{% url 'resort-slug' resort.slug %}"/>
          {% if devmode %}
            <img src="{% static 'img/australia/350x200.png' %}" width="100%"/>
          {% else %}
            <img src="{% static 'img/' %}{{ resort.thumbnail_picture }}" class="img-responsive" alt="{{ resort.name }}"/>
          {% endif %}
          <h2>{{ resort.name }}</h2>
        </a>
        <h2>{{ resort.location.region.name }}</h2>
        <p>{{ resort.description }}</p>
      </div>
    </section><!--
  {% endfor %}-->
  </div>
</section>

{% endblock %}

