{%  extends 'base.html' %}
{%  load staticfiles %}

{% block head %}
{% endblock %}

{% block content %}
<!-- Header -->

  <header>

    <div class="navbar">
      <nav class="nav primary-nav">
        <ul>
          <li><a href="/">Home</a></li><!--
        --><li><a href="/">Resorts</a></li><!--
        --><li><a href="/">About</a></li>
        </ul>
      </nav>
    </div>

    <div class="parallax-window tall" data-parallax="scroll"
         data-image-src="{% static 'img/' %}{{ resort.main_picture }}" data-speed="0.1">
    </div>

  </header>

  <!-- Content -->

  <section class='lead container'>

    <h2>{{ resort.name }}</h2>
    <div class="grid"><!--

   --><section class="col-1-2">
          <p>{{ resort.description }}</p>
      </section><!--

   --><section class="col-1-2">
        <p>Region: {{ resort.location.region.name }}</p>
        <!-- OpenStreetMap -->
        <iframe
                width="100%"
                height="350"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
                src="{{ resort.osm_embed_url }}"
          >
        </iframe>
        <br/>
        <small><a href="{{ resort.osm_url }}">View Larger Map</a></small>
        <!-- End OpenStreetMap -->
      </section>
    </div>
  </section>

{% endblock %}

